@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --preto: #011627ff;
    --branco: #fdfffcff;
    --verde: #2ec4b6ff;
    --vermelho: #e71d36ff;
    --laranjado: #ff9f1cff;
    --fonte-primaria:  "Roboto Slab", serif;
    --fonte-secundaria: "Playfair Display", serif;
}